*{
    text-decoration: none;
}
html{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}
section {
    padding: 20px 0;
    font-family: 'Josefin Sans', sans-serif;
}

/* Title Section */
#title {
    background: url(images/desktop/image-hero.jpg);
    background-size: cover;
}
.logo-img {
    width: 70%;
}


.nav-link:hover {
    color: white !important;
    border-bottom: 2px solid white;
    
    }
li .nav-link {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}
#navbar-btn-toggler {
    background-color: rgb(238, 231, 231); 
}
.heading-container {
    border: 2px solid hsl(0, 13%, 95%);
    padding: 25px 30px;
    margin: 100px 10px;
    min-width: 300px;
    width: 35%;
}
.heading-container h1 {
    color: hsl(0, 0%, 100%);
    font-size: 2.188rem;
    margin-bottom: 0px;
    text-transform: uppercase; 
}

/* Features Section */
#features {
    margin: 50px 0;
}
.vr-img {
    width: 100%;
}
.vr-text-container {
    background-color: hsl(0, 0%, 100%);
    padding: 40px 60px!important;
    position: relative;
    top: 50px;
    right: 150px;
}
.vr-text-container h2 {
    font-size: 1.75rem;
    font-weight: 600;
    text-transform: uppercase;
}


.d {
    width: 10vw;
}
.social-icons {
    display: flex; 
    flex-direction: column;
    align-items: end;
}
.social-icons p{
color: aliceblue;
margin-top: 0.5rem;
}
/* CREATION SECTION */
/* #creation {

} */
.creation-header h2 {
    font-size: 1.75rem;
    font-weight: 500;
    position: relative;
    top: 8px;
    text-transform: uppercase;
}
.creation-btn a {
    border-radius: 2px;
    display: block;
    font-family: 'Alata', sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 8px 30px 8px 30px;
    text-transform: uppercase;
}
 #images { /*container */
    margin-top: 70px;
    position: relative;
}
.creation-img {
    position: relative;
}
.img-container {
    width: 250px;
    height: 350px;
}
.img-container h3 {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

.one {
    background: url(images/desktop/image-deep-earth.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.two {
    background: url(images/desktop/image-night-arcade.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.three {
    background: url(images/desktop/image-soccer-team.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.four {
    background: url(images/desktop/image-grid.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
.five {
    background: url(images/desktop/image-from-above.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.six {
    background: url(images/desktop/image-pocket-borealis.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.seven {
    background: url(images/desktop/image-curiosity.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.eight {
    background: url(images/desktop/image-fisheye.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#footer {
    background-color: black;
    margin-top: 2rem;
    }
.footer-item a:hover {
color: white;
border-bottom: 2px solid white;
padding-bottom: 0.7rem;
}

.footer-icons-container  {         
    display: flex !important;
    align-items: center;
    justify-items: center;
    gap: 1rem;
}
.footer-icons-container li  {         
 list-style: none;
}

.social-icons p{
    position: relative;
    top: -8px;
}

.creation {
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#p-btn{
    display: none;
    width: 100px !important;
    margin: 2rem auto;
}



.creation-header-content {
    display: flex;
    justify-content: space-between;
    gap: 16rem;
}
/* .creation-header-btn {
    margin-top: 2rem;
} */

.one:hover,
.two:hover,
.three:hover,
.four:hover,
.five:hover,
.six:hover,
.seven:hover,
.eight:hover {
    opacity: 0.5;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .heading-container{
        width: 95%;
    }
    .creation-header-btn {
    display: none;
}

    .row {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .vr-text-container  {
        padding: 0 1rem !important;
        width: 95% !important;

    }
    .vr-text-container p{
        font-size: 1.3rem;
    }

    #images { /*container */
        margin-top: 30px;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .img-container {
        width: 94vw;
        height: 350px;
    }

    #creation {
margin-top: -90px;
    }

    .one,
    .two,
    .three,
    .four,
    .five,
    .six,
    .seven,
    .eight {
        height: 180px;
    }
    #p-btn{
        display: block;
    }

    .social-icons {
        display: flex; 
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
    }
  }
@media only screen and (max-width: 991px) {
    .vr-text-container {
        padding: 40px 0!important;
        position: relative;
        top: 0px;
        right: 0px;
    }

    .footer-sub {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-logo {
       margin-bottom: 1rem;
    }
    .footer-logo-img {
        display: block;
        margin: 0 auto;
    } 


  }

